*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.people-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.people-card{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 20px;
  width: 30%;
  margin: 10px;
  /* border: 2px solid grey; */
}

button{
  width: 100px;
  line-height: 20px;
  margin: 5px auto;
  background-color: white;
  color:black;
  border:2px solid black;
  border-radius: 10px;
  transition: 1s ease;

}

button:hover{
  background-color: black;
  color:white;

}

input{
  width: 200px;
  height: 30px;
  margin: auto 10px;
}

.people-card img{
  margin: 10px 4px;
  padding: 3px;
  border: 3px solid orange;
  border-radius: 100px;
  transition: 2s ease;
  
}



.people-info{
  display: flex;
  flex-direction: column;

}

.people-name{
  font-size: 17px;
  font-weight: bold;
}

.modal{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80vh;
  height: 80vh;
  background-color: red;
  z-index: 1;
}

i{
  transition: 1s ease;
}

i:hover{
  background-color: blue;
  transform: scale(1.2);
}

