*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.people-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}

.people-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 10px;
  border: 2px solid grey;
}